.text-white {
  color: #f2f2f2 !important;
}

.text-grey {
  color: #909095;
}

.text-teal {
  color: #39CCCC !important;
}

.bg-lt-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-lt-purple {
  background-color: #af6ac6;
}

.bg-lt-teal {
  background-color: #76dcdc;
}

.bg-black {
  background-color: #111111;
}

.bg-teal {
  background-color: #39CCCC;
}

.bg-blue {
  background-color: #328284;
}

.bg-orange {
  background-color: #fba100;
}

.bg-grey {
  background-color: #909095;
}

.bg-purple {
  background-color: #8b3fa5;
}

.btn-blue:hover {
  background-color: rgba(111, 147, 199, 0.75) !important;
  border: 0;
  color: #f2f2f2;
}

.btn-teal {
  font-family: "Roboto", sans-serif !important;
  background-color: #39CCCC !important;
  border: 0;
  color: #f2f2f2;
}

.btn-teal:hover {
  font-family: "Roboto", sans-serif !important;
  background-color: rgba(57, 204, 204, 0.75) !important;
  border: 0;
  color: #f2f2f2 !important;
}

.btn-outline-teal {
  color: #39CCCC;
  font-family: 'Roboto', sans-serif;
  border-color: #39CCCC;
}

.btn-outline-teal:hover {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #39CCCC;
  border-color: #39CCCC;
}

.btn-outline-teal:focus, .btn-outline-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 204, 204, 0.5) !important;
}

.btn-outline-teal.disabled, .btn-outline-teal:disabled {
  color: #fff;
  background-color: #39CCCC;
  border-color: #39CCCC;
}

.btn-outline-teal:not(:disabled):not(.disabled):active, .btn-outline-teal:not(:disabled):not(.disabled).active,
.show > .btn-outline-teal.dropdown-toggle {
  color: #fff;
  background-color: #39CCCC;
  border-color: #39CCCC;
}

.btn-outline-teal:not(:disabled):not(.disabled):active:focus, .btn-outline-teal:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 204, 204, 0.5);
}

.btn-orange {
  font-family: "Roboto", sans-serif !important;
  background-color: #fba100 !important;
  border: 0;
  color: #f2f2f2;
}

.btn-orange:hover {
  font-family: "Roboto", sans-serif !important;
  background-color: rgba(251, 161, 0, 0.75) !important;
  border: 0;
  color: #f2f2f2 !important;
}

.outline-teal {
  color: #39CCCC;
  font-family: 'Roboto', sans-serif;
  border-color: #39CCCC;
}

a:hover {
  font-family: 'Raleway', sans-serif;
  color: #39cccc !important;
  text-decoration: underline;
}

html,
body {
  font-size: 14px !important;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.602em;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.424em;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1.266em;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1.125em;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 0.889em;
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-size: 0.79em;
  font-family: 'Roboto', sans-serif;
}

.display-1 {
  font-size: 3.906em;
  font-family: 'Roboto', sans-serif;
}

.display-2 {
  font-size: 3.125em;
  font-family: 'Roboto', sans-serif;
}

.display-3 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
}

.display-4 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.display-5 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.text-sm {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

.text-16 {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

.hr-style {
  border: 0.5px solid #39CCCC !important;
  width: 85%;
}

.jumbo-image {
  background-image: -moz-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: -webkit-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-position: bottom center;
  background-size: cover;
}

.card-img-top {
  width: 8rem;
  height: auto;
}

.card-body {
  font-family: "Raleway", sans-serif !important;
}

.p-m-svg {
  padding: 2%;
}

#title-row {
  background-image: url("../img/globe-title.svg");
  /* The image used */
  background-color: #111111;
  /* Used if the image is unavailable */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-position: left top;
}

.footer-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 12rem;
}

.progress {
  height: 1.25rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbotron-fluid {
  padding: 10%;
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
  .display-5 {
    font-size: 2.05em;
  }
  .text-sm {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body, p {
    font-size: 16px !important;
  }
}

@media (min-width: 75em) {
  html,
  body, p {
    font-size: 18px !important;
  }
}

.container-game {
  padding: 0 3rem;
}
