@import url("https://fonts.googleapis.com/css?family=Bangers|Open+Sans+Condensed:300&display=swap");
.text-white {
  color: #f2f2f2 !important;
}

.text-teal {
  color: #23D9B7 !important;
}

.text-purple {
  color: #7D07F2 !important;
}

.text-yellow {
  color: #D7F205 !important;
}

.bg-lt-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-yellow {
  background-color: #D7F205;
}

.bg-purple-lt {
  background-color: #AB05F2;
}

.bg-blue {
  background-color: #5207F2;
}

.bg-lt-teal {
  background-color: #27F2CD;
}

.bg-teal {
  background-color: #23D9B7;
}

.bg-purple {
  background-color: #7D07F2;
}

.btn-teal {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: #23D9B7 !important;
  border: 0;
  color: #f2f2f2;
}

.btn-teal:hover {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: rgba(57, 204, 204, 0.75) !important;
  border: 0;
  color: #f2f2f2 !important;
}

.btn-outline-teal {
  color: #23D9B7;
  font-family: 'Open Sans Condensed', sans-serif;
  border-color: #23D9B7;
}

.btn-outline-teal:hover {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #23D9B7;
  border-color: #23D9B7;
}

.btn-outline-teal:focus, .btn-outline-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 204, 204, 0.5) !important;
}

.btn-outline-teal.disabled, .btn-outline-teal:disabled {
  color: #fff;
  background-color: #23D9B7;
  border-color: #23D9B7;
}

.btn-outline-teal:not(:disabled):not(.disabled):active, .btn-outline-teal:not(:disabled):not(.disabled).active,
.show > .btn-outline-teal.dropdown-toggle {
  color: #fff;
  background-color: #23D9B7;
  border-color: #23D9B7;
}

.btn-outline-teal:not(:disabled):not(.disabled):active:focus, .btn-outline-teal:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 204, 204, 0.5);
}

.btn-purple {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: #7D07F2 !important;
  border: 0;
  color: #f2f2f2;
  text-transform: uppercase;
}

.btn-purple:hover {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: rgba(125, 7, 242, 0.75) !important;
  border: 0;
  color: #f2f2f2 !important;
}

.btn-outline-purple {
  color: #7D07F2;
  font-family: 'Open Sans Condensed', sans-serif;
  border-color: #7D07F2;
}

.btn-outline-purple:hover {
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #7D07F2;
  border-color: #7D07F2;
}

.btn-outline-purple:focus, .btn-outline-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(125, 7, 242, 0.5) !important;
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
  color: #f2f2f2;
  background-color: #7D07F2;
  border-color: #7D07F2;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #f2f2f2;
  background-color: #7D07F2;
  border-color: #7D07F2;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 204, 204, 0.5);
}

.outline-teal {
  color: #7D07F2;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid #23D9B7 !important;
  border-radius: 5px;
  background-color: #f2f2f2;
}

a:hover {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #39cccc !important;
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

html,
body {
  font-size: 1rem !important;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 1.602em;
  font-family: 'Bangers', sans-serif;
}

h2 {
  font-size: 1.424em;
  font-family: 'Bangers', sans-serif;
}

h3 {
  font-size: 1.266em;
  font-family: 'Bangers', sans-serif;
}

h4 {
  font-size: 1.125em;
  font-family: 'Bangers', sans-serif;
}

h5 {
  font-size: 0.889em;
  font-family: 'Bangers', sans-serif;
}

h6 {
  font-size: 0.79em;
  font-family: 'Bangers', sans-serif;
}

.display-1 {
  font-size: 3.906em;
  font-family: 'Bangers', sans-serif;
}

.display-2 {
  font-size: 3.125em;
  font-family: 'Bangers', sans-serif;
}

.display-3 {
  font-size: 2.5em;
  font-family: 'Bangers', sans-serif;
}

.display-4 {
  font-size: 2em;
  font-family: 'Bangers', sans-serif;
}

.display-5 {
  font-size: 2em;
  font-family: 'Bangers', sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-sm {
  font-size: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-16 {
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

.hr-style {
  border: 1px solid #23D9B7 !important;
  width: 100%;
}

.bobo-image {
  background-image: -moz-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: -webkit-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-position: bottom center;
  background-size: cover;
}

.top-shadow {
  box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0 1rem rgba(0, 0, 0, 0.3);
}

.jumbo-image {
  background-image: -moz-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: -webkit-linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-image: linear-gradient(45deg, rgba(17, 17, 17, 0.9) 25%, rgba(17, 17, 17, 0.9) 100%), url("../img/jumbo2.jpg");
  background-position: bottom center;
  background-size: cover;
}

.jumbotron-fluid {
  padding: 10%;
}

/*
flip card
*/
.card-flip > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 600ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 1;
  display: flex;
  border-radius: 5px;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  font-family: 'Raleway', sans-serif;
}

.card-front-flip {
  transform: rotateY(-180deg);
}

.card-back-flip {
  transform: rotateY(0deg);
}

.card {
  width: 8.5rem;
  height: 5rem;
  border-radius: 5px;
  border: none !important;
}

#back-text {
  font-size: .85rem;
  text-align: center;
}

#back-icon {
  font-size: 2rem;
}

.card-body {
  border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
  .display-5 {
    font-size: 2.05em;
  }
  .text-sm {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body, p {
    font-size: 16px !important;
  }
}

@media (min-width: 75em) {
  html,
  body, p {
    font-size: 18px !important;
  }
}
