@import url("https://fonts.googleapis.com/css?family=Bangers|Open+Sans+Condensed:300&display=swap");
.text-shade-dark {
  color: #403b3b;
}

.text-color-1 {
  color: #007c89;
}

.text-color-2 {
  color: #edc53f;
}

.bg-lt-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-color-2 {
  background-color: #edc53f;
}

.bg-color-1 {
  background-color: #007c89;
}

.bg-color-1-lt {
  background-color: #008796;
}

.bg-light {
  background-color: #efeeea !important !important;
}

.bg-shade-md {
  backround-color: #dbd9d2;
}

.btn-color-1 {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: #007c89 !important;
  border: 0;
  color: #edc53f;
  text-transform: uppercase;
}

.btn-color-1:hover {
  font-family: "Open Sans Condensed", sans-serif !important;
  background-color: rgba(1, 124, 137, 0.75) !important;
  border: 0;
  color: #f6f6f4 !important;
}

.outline-teal {
  color: #007c89;
  font-family: "Open Sans Condensed", sans-serif;
  border: 1px solid #007c89 !important;
  border-radius: 5px;
  background-color: #efeeea !important;
}

a:hover {
  font-family: "Open Sans Condensed", sans-serif;
  color: rgba(1, 124, 137, 0.75) !important;
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

html,
body {
  font-size: 1rem !important;
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  font-size: 1.602em;
  font-family: "Bangers", sans-serif;
}

h2 {
  font-size: 1.424em;
  font-family: "Bangers", sans-serif;
}

h3 {
  font-size: 1.266em;
  font-family: "Bangers", sans-serif;
}

h4 {
  font-size: 1.125em;
  font-family: "Bangers", sans-serif;
}

h5 {
  font-size: 0.889em;
  font-family: "Bangers", sans-serif;
}

h6 {
  font-size: 0.79em;
  font-family: "Bangers", sans-serif;
}

.display-1 {
  font-size: 3.906em;
  font-family: "Bangers", sans-serif;
}

.display-2 {
  font-size: 3.125em;
  font-family: "Bangers", sans-serif;
}

.display-3 {
  font-size: 2.5em;
  font-family: "Bangers", sans-serif;
}

.display-4 {
  font-size: 2em;
  font-family: "Bangers", sans-serif;
}

.display-5 {
  font-size: 2em;
  font-family: "Bangers", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Open Sans Condensed", sans-serif;
}

.text-sm {
  font-size: 10px;
  font-family: "Open Sans Condensed", sans-serif;
}

.text-16 {
  font-size: 1rem;
  font-family: "Open Sans Condensed", sans-serif;
}

.card {
  width: 8.5rem;
  height: 5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3em;
  text-align: center;
  line-height: 4.5rem;
  margin: auto;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
      supported by Chrome and Opera */
}

.bigfont {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.lead {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.card-down {
  color: rgba(64, 59, 59, 0.1) !important;
  background-color: #008796;
  font-family: 'Bangers', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid #008796 !important;
  box-sizing: border-box;
}

.card-up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  line-height: 2.5rem;
  margin: auto;
  background-color: #eee;
  color: #403b3b !important;
  border: 5px solid #eee !important;
}

#deck2 .card-up {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25em !important;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  line-height: 1.3rem;
  margin: auto;
}

.card-hover {
  border: 5px solid rgba(0, 124, 137, 0.75) !important;
}

.card-select {
  border: 5px solid rgba(0, 124, 137, 0.75) !important;
}

.btn-info-submit {
  color: #edc53f;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-info-submit:hover {
  color: #f6f6f4;
}

.card-click {
  color: rgba(0, 124, 137, 0.75) !important;
  border: 5px solid rgba(0, 124, 137, 0.75) !important;
  background-color: rgba(0, 124, 137, 0.1);
}

.card-matched {
  background-color: #dbd9d2;
  color: #8c8c8c !important;
  border: 5px solid #dbd9d2 !important;
  cursor: default;
}

.card {
  width: 8.5rem;
  height: 5rem;
  border-radius: 5px;
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
  .display-5 {
    font-size: 2.05em;
  }
  .text-sm {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body,
  p {
    font-size: 16px !important;
  }
}

@media (min-width: 75em) {
  html,
  body,
  p {
    font-size: 18px !important;
  }
}
